APP_PASSWORD=your_app_password

GITHUB_TOKEN=ghp_your_github_token
GITHUB_OWNER=trilokesh-sarkar
GITHUB_REPO=Report_Transactions
GITHUB_BRANCH=main
GITHUB_FILE_PATH=finance_data.csv
GITHUB_SAVINGS_FILE_PATH=monthly_savings_data.csv

DB_USER=postgres
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=finance_db
DATABASE_URL=sqlite:///sample_finance.db
